@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: Radion B Book;
  src: url(../assets/fonts/RadionB-Book.otf) format("opentype");
}
@font-face {
  font-family: Radion B Light;
  src: url(../assets/fonts/RadionB-Light.otf) format("opentype");
}
@font-face {
  font-family: Radion B Regular;
  src: url(../assets/fonts/RadionB-Regular.otf) format("opentype");
}
@-webkit-keyframes left-1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes left-1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes left-2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes left-2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@media (max-width: 1340px) {
  .container .flex .ranking {
    padding: 0 1.5625em;
  }

  .container .flex .sofas__desktop {
    flex-direction: column;
  }

  .container .flex .sofas__desktop__right {
    height: 345px;
  }

  .container .flex .sofas__desktop__right__sofa.sofa-5 {
    padding: 10px;
  }
}
@media (max-width: 1170px) {
  body {
    font-size: 15px;
  }

  .container .flex .info {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .container .flex .info__text {
    align-items: center;
    justify-content: center;
  }
  .container .flex .info__text h3 {
    text-align: center;
  }
  .container .flex .info__text a {
    align-self: center;
  }
}
@media (max-width: 1000px) {
  .container .flex .nav__first-half .nav__links {
    display: none;
  }

  .container .flex .nav__first-half .menu-bar {
    display: flex;
    flex-direction: column;
  }
  .container .flex .nav__first-half .menu-bar__links__link {
    white-space: nowrap;
    text-decoration: none;
    width: 100%;
    color: #000 !important;
    padding: 10px 0 10px 5px;
  }
  .container .flex .nav__first-half .menu-bar__links__link--active {
    background-color: #22425A;
    color: #fff !important;
  }
}
@media (max-width: 920px) {
  body {
    font-size: 13px;
  }

  .container .flex .nav__first-half .menu-bar.menu-nav-clicked .bar-1 {
    transform: rotate(-45deg) translate(-0.3125em, 0.5em);
  }

  .container .flex .nav__first-half .menu-bar.menu-nav-clicked .bar-3 {
    transform: rotate(45deg) translate(-0.375em, -0.5em);
  }

  .container .flex .filter h2 {
    width: 100%;
  }
}
@media (max-width: 830px) {
  .container .flex .info__boxes {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 665px) {
  body {
    font-size: 12px;
  }

  .container .flex .sofas__right__sofa.sofa-5 img {
    width: 100%;
    height: initial;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .container .flex .nav__first-half .menu-bar.menu-nav-clicked .bar-3 {
    transform: rotate(45deg) translate(-0.3em, -0.5em);
  }
}
@media (max-width: 638px) {
  .container .flex .info {
    margin-top: 2.1em;
  }

  .container .flex .sofas {
    height: 200px;
    margin: 35px;
    overflow: hidden;
    margin: 1.625em 1em 0 1em;
    border-radius: 30px;
    background-color: #F3F3F3;
  }
  .container .flex .sofas__desktop {
    display: none;
  }
  .container .flex .sofas__mobile {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .container .flex .sofas__mobile .sofa-1 img {
    width: 16.875em;
  }
  .container .flex .sofas__mobile .sofa-2 img {
    width: 6.875em;
  }
  .container .flex .sofas__mobile .sofa-3 img {
    width: 13.2em;
  }
  .container .flex .sofas__mobile .sofa-4 img {
    width: 16.83em;
  }
  .container .flex .sofas__mobile figure {
    display: none;
    position: absolute;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-clip-path: circle(0% at 0 50%);
            clip-path: circle(0% at 0 50%);
  }
  .container .flex .sofas__mobile figure img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 20em;
  }
  .container .flex .sofas__mobile figure.sofa-5 img {
    width: 20em;
  }
  .container .flex .sofas__mobile figure.active {
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    -webkit-clip-path: circle(150% at 0 50%);
            clip-path: circle(150% at 0 50%);
    transition: 1s;
    transition-property: -webkit-clip-path;
    transition-property: clip-path;
    transition-property: clip-path, -webkit-clip-path;
  }
  .container .flex .sofas__mobile figure .sofa__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    left: 1em;
    top: 1em;
  }
  .container .flex .sofas__mobile figure .sofa__info--bold, .container .flex .sofas__mobile figure .sofa__info--thin {
    font-family: "Radion B Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.1875em;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    background-color: #fff;
    padding: 6px 13px;
    border-radius: 35px;
    white-space: nowrap;
  }
  .container .flex .sofas__mobile figure .sofa__info--bold {
    color: #000;
  }
  .container .flex .sofas__mobile figure .sofa__info--thin {
    color: rgba(0, 0, 0, 0.5);
  }
  .container .flex .sofas__mobile .navigation {
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .container .flex .sofas__mobile .navigation .btn {
    background-color: rgba(0, 0, 0, 0.7);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  .container .flex .sofas__mobile .navigation .btn.active {
    background-color: green;
  }

  .container .flex .footer {
    margin-top: 5em;
  }
}
@media (max-width: 610px) {
  .container .flex .footer__info {
    flex-direction: column;
  }
  .container .flex .footer__info__left {
    align-self: center;
  }
  .container .flex .footer__info__left .mailing {
    align-items: center;
  }
}
@media (max-width: 530px) {
  .container .flex .ranking {
    padding: 0 0.5625em;
  }

  .container .flex .filter h2 {
    font-size: 2.5em;
  }
}
@media (max-width: 485px) {
  .container .flex .ranking__fig__degree {
    left: 0.3em;
    bottom: 0.5625em;
    padding: 0.25625em 0.46875em;
  }

  .container .flex .footer .copyright__terms {
    margin-right: 0;
    gap: 0.7em;
  }
}
@media (max-width: 400px) {
  body {
    font-size: 11px;
  }
}
@media (max-width: 390px) {
  .container .flex .info__text {
    width: 100%;
  }

  .container .flex .filter__wrapper {
    flex-direction: column;
    gap: 1.5em;
  }
}
@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
}/*# sourceMappingURL=responsive.css.map */